.menu__button {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 22px;
  cursor: pointer;
  z-index: $z-index-menu-button;
}

.menu {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $z-index-menu;
  pointer-events: none;

  &.is-open {
    pointer-events: all;
  }
}

.menu__circle__bg {
  position: absolute;
  width: 100%;
  height: 100%;

  .menu__circle__bg__svg {
    transform-origin: 50% 50%;
  }
}

.menu__content {
  position: fixed;
  width: 100%;
  height: 100%;
  color: $white;

  .menu__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.menu__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70%;
  margin: 0;
  padding: 0;

  @media (min-width: #{em(768)}) {
    width: 70%;
    height: auto;
    flex-direction: row;
  }

  .menu__list__element {
    text-align: center;
    list-style: none;
    @include fluid-type($mobile-min, $mobile-max, 24px, 28px);
    user-select: none;
    cursor: pointer;
    transform: translateY(-10px);
    opacity: 0;

    @media (min-width: #{em(768)}) {
      display: flex;
      flex: 1 1 15%;
      flex-direction: column;
      justify-content: flex-end;
      margin-right: 4vw;
      @include fluid-type($tablet-min, $tablet-max, 10px, 20px);

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        .menu__list__element__icon {
          transform: translateY(-8px);
        }
      }
    }

    .menu__list__element__icon {
      display: none;
      transition: transform .3s ease-in;

      @media (min-width: #{em(768)}) {
        display: block;
        max-height: em(70);
        margin-bottom: 3vw;
      }

      @media (min-width: #{em(1025)}) {
        max-height: em(110);
      }
    }
  }
}

