.more__button {
  position: fixed;
  bottom: 26px;
  right: 16px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  z-index: $z-index-slide-navigation;
}

.more__circle__bg {
  position: absolute;
  width: 100vw;
  height: 100vh;

  .more__circle__bg__svg {
    transform-origin: 50% 50%;
  }
}