.section {
  height: 100%;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.section__main {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: $z-index-main-section;
}

.section__main__image {
  display: block;
  width: 200px;
  margin: 0 auto 10% auto;
}

.section__main__headline {
  text-align: center;
  font-weight: 300;
  font-size: 30px;
}