.slide__navigation {
  position: fixed;
  width: 22px;
  height: 42px;
  left: 11px;
  bottom: 0px;
  z-index: $z-index-slide-navigation;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-up, .arrow-down {
  cursor: pointer;
}