.slide__navigation {
  position: fixed;
  width: 24px;
  height: 44px;
  left: 16px;
  bottom: 10px;
  z-index: $z-index-slide-navigation;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-up, .arrow-down {
  cursor: pointer;
}